.bb-grid-demo-1 {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto minmax(0px, 1fr);
        grid-gap: 10px;
        width: auto;
        height: 100vh;
        padding: 12px;
        border: 2px solid red;

        .header {
             grid-column: span 2;
             background: pink;
        }

        .main-content {
            grid-row-start: 2;
            grid-column: span 2;
            background: yellow;
            border: 2px solid blue;
            .lorem {
                height: 100%;
                overflow-y: auto;
            }
        }
    }
}

.bb-container2 {

}
