@import './breakpoints.scss';

.bb-layout {
   width: 100%;
   height: 100%;
}

.bb-footer {
    margin-top: 1rem;
}

.bb-content {
  margin: 0 auto;
  padding: 1.6rem;
  width: 100%;
  background-color: white;

  @include mq($from: desktop) {
    width: 1024px;
    padding: 2.5rem;
    border-left: 1px solid #d0cece;
    border-right: 1px solid #d0cece;
  }
}
