.bb-layout {
   width: 100%;
   height: 100%;
}

.bb-footer {
    margin-top: 1rem;
}

.bb-content {
  margin: 0 auto;
  padding: 48px;
  width: 100%;
  padding-top: 96px;
  border-left: 1px solid #d0cece;
  border-right: 1px solid #d0cece;
  background-color: white;

  @media (max-width: 998px) {
    border-left: none;
    border-right: none;
  }

  @media (min-width: 960px) {
    width: 1024px;
  }
}
