@import "./breakpoints.scss";

.bb-masthead-fixed-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 300px;
    z-index: 2;
}

.bb-masthead {
    background: var(--clr-primary);
    h1 {
        margin: 0;
        letter-spacing: 2px;
        color: #e9ebf0;
        line-height: 3rem;
        a {
            color: #e9ebf0;
            text-decoration: none;
        }
    }

    .menu-button {
        padding: 0;
        fill: #e9ebf0;
        @include mq($from: tablet) {
            display: none;
        }
    }

    .dropdown-menu {
        position: fixed;
        background-color: #f0f0f0;
        border-top: none;
        box-shadow: -3px 3px 6px 0px rgba(50, 50, 50, 0.3);
        right: 0;
        width: 280px;
        overflow-y: hidden;
        z-index: 100;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li:not(:last-of-type) {
                margin: 0;
                border-bottom: 1px solid lightgray;
            }
            a {
                display: block;
                padding: 12px 0 12px 16px;
                width: 100%;
                height: 100%;
                color: #727272;
                text-decoration: none;
                &:hover {
                    background-color: #ffffff;
                }
            }
        }

        @include mq($from: tablet) {
            display: none;
        }
    }

    .inline-menu {
        display: none;

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            list-style: none;
            li {
                margin: 0;
                a {
                    display: inline-block;
                    padding-left: 24px;
                    color: white;
                    text-decoration: none;
                }
            }
        }

        @include mq($from: tablet) {
            display: block;
        }
    }
}

.bb-masthead-inner {
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
}
